@model IEnumerable<L01P02_2020HM601.Models.platos>

@{
    ViewData["Title"] = "Index";
}

<h1>Ventana de Platos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombrePlato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePlato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.PlatoId">Edit</a> |
                    <a class="btn btn-warning"  asp-action="Details" asp-route-id="@item.PlatoId">Details</a> |
                    <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.PlatoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
