@model IEnumerable<L01P02_2020HM601.Models.pedidos>

@{
    ViewData["Title"] = "Ventana de pedidos";
}

<h1>Ventana de Pedidos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MotoristaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlatoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MotoristaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlatoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.PedidoId">Edit</a> |
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.PedidoId">Details</a> |
                    <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.PedidoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
