@model IEnumerable<L01P02_2020HM601.Models.clientes>

@{
    ViewData["Title"] = "Ventana de Clientes";
}

<h1>Ventana de Clientes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.ClienteId">Edit</a> |
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.ClienteId">Details</a> |
                    <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.ClienteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
